<a href="https://colab.research.google.com/github/frankida/Coursera_Capstone/blob/master/week3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This notebook takes in the table from a Canada wiki page and creates distinct rows

In [0]:
import pandas as pd
pd.set_option('mode.chained_assignment', None)
file=pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")

In [125]:
df=file[0]
df

    Postcode           Borough          Neighbourhood
0        M1A      Not assigned           Not assigned
1        M2A      Not assigned           Not assigned
2        M3A        North York              Parkwoods
3        M4A        North York       Victoria Village
4        M5A  Downtown Toronto           Harbourfront
..       ...               ...                    ...
282      M8Z         Etobicoke              Mimico NW
283      M8Z         Etobicoke     The Queensway West
284      M8Z         Etobicoke  Royal York South West
285      M8Z         Etobicoke         South of Bloor
286      M9Z      Not assigned           Not assigned

[287 rows x 3 columns]

In [0]:
filter =df.Borough!='Not assigned'
dfNew= df.loc[filter]

Aftering  removing the rows with Not assigned Boroughs, I combined the Neighborhoos to a single line

In [0]:
dfNew['NeighborhoodNew']=dfNew.groupby(['Postcode', 'Borough']).transform(lambda x: ', '.join(x))

So now we have the Neighborhoods but a lot duplicate rows and also we need to get rid of and rename some columns

In [128]:
dfNew.loc[dfNew.Postcode=='M9V']

    Postcode  ...                                    NeighborhoodNew
227      M9V  ...  Albion Gardens, Beaumond Heights, Humbergate, ...
228      M9V  ...  Albion Gardens, Beaumond Heights, Humbergate, ...
229      M9V  ...  Albion Gardens, Beaumond Heights, Humbergate, ...
230      M9V  ...  Albion Gardens, Beaumond Heights, Humbergate, ...
231      M9V  ...  Albion Gardens, Beaumond Heights, Humbergate, ...
232      M9V  ...  Albion Gardens, Beaumond Heights, Humbergate, ...
233      M9V  ...  Albion Gardens, Beaumond Heights, Humbergate, ...
234      M9V  ...  Albion Gardens, Beaumond Heights, Humbergate, ...

[8 rows x 4 columns]

In [0]:
dfNew.loc[dfNew.Neighbourhood=='Not assigned', 'NeighborhoodNew']=dfNew.apply(lambda x: x.Borough, axis=1)

In [0]:
dfNew.drop(columns='Neighbourhood', inplace=True)

In [0]:
dfNew.rename({'NeighborhoodNew': 'Neighbourhood'}, inplace=True)

In [0]:
dfNew.drop_duplicates(inplace=True)

In [133]:
print(dfNew.shape)

(103, 3)