<a href="https://colab.research.google.com/github/frankida/Coursera_Capstone/blob/master/week3Part2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This notebook takes in the table from a Canada wiki page and creates distinct rows

In [0]:
import pandas as pd
pd.set_option('mode.chained_assignment', None)
file=pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")

In [0]:
df=file[0]

In [0]:
filter =df.Borough!='Not assigned'
dfNew= df.loc[filter]

Aftering  removing the rows with Not assigned Boroughs, I combined the Neighborhoos to a single line

In [0]:
dfNew['NeighborhoodNew']=dfNew.groupby(['Postcode', 'Borough']).transform(lambda x: ', '.join(x))

So now we have the Neighborhoods but a lot duplicate rows and also we need to get rid of and rename some columns

In [0]:
dfNew.loc[dfNew.Neighbourhood=='Not assigned', 'NeighborhoodNew']=dfNew.apply(lambda x: x.Borough, axis=1)

In [0]:
dfNew.drop(columns='Neighbourhood', inplace=True)

In [0]:
dfNew.rename(columns={'NeighborhoodNew': 'Neighborhood'}, inplace=True)

In [0]:
dfNew.drop_duplicates(inplace=True)

In [86]:
dfNew.head()

  Postcode           Borough                      Neighborhood
2      M3A        North York                         Parkwoods
3      M4A        North York                  Victoria Village
4      M5A  Downtown Toronto                      Harbourfront
5      M6A        North York  Lawrence Heights, Lawrence Manor
7      M7A  Downtown Toronto                      Queen's Park

In [87]:
print(dfNew.shape)

(103, 3)

In [0]:
## Part 2
df2 = pd.read_csv('http://cocl.us/Geospatial_data')

In [0]:
df3 =dfNew.merge(df2, left_on='Postcode', right_on='Postal Code').rename(columns={'Postcode': 'PostalCode'}).drop('Postal Code', axis=1).set_index('PostalCode')

In [90]:
newIndex=['M5G', 'M2H', 'M4B', 'M1J', 'M4G', 'M4M', 'M1R', 'M9V','M9L', 'M5V', 'M1B', 'M5A']
dfExample =df3.reindex(newIndex).reset_index()
dfExample

   PostalCode           Borough  ...   Latitude  Longitude
0         M5G  Downtown Toronto  ...  43.657952 -79.387383
1         M2H        North York  ...  43.803762 -79.363452
2         M4B         East York  ...  43.706397 -79.309937
3         M1J       Scarborough  ...  43.744734 -79.239476
4         M4G         East York  ...  43.709060 -79.363452
5         M4M      East Toronto  ...  43.659526 -79.340923
6         M1R       Scarborough  ...  43.750072 -79.295849
7         M9V         Etobicoke  ...  43.739416 -79.588437
8         M9L        North York  ...  43.756303 -79.565963
9         M5V  Downtown Toronto  ...  43.628947 -79.394420
10        M1B       Scarborough  ...  43.806686 -79.194353
11        M5A  Downtown Toronto  ...  43.654260 -79.360636

[12 rows x 5 columns]